.membership{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 14% 0 14%;
}
.card{
    min-width: 350px;
    min-height: 550px;
    background: url('../Assets/mebership.png');
    background-size: cover;
    margin-top: 50px;
    border-radius: 2px;
}
.card h4{
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
}
.card h4 span{
    font-size: 18px;
    font-weight: 700;
    text-decoration: line-through;
}
.card p{
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px rgb(133, 133, 133);
    font-weight: 400;
    text-align: center;
    line-height: 45px;
    margin-top: 30px;
}
.card__footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95px;
    background: url('../Assets/pattern.jpg');
    background-size: cover;
    margin-top: 40px;
    padding: 0 0 15px 0;
    justify-content: center;
    align-items: center;
    gap:0;
}
.card__footer h2{
    font-size: 16px;
    font-weight: 700;
    color: white;
    text-align: center;
    line-height: 40px;
}
.card__button{
    width: 100px;
    height: 45px;
    padding: 10px;
    background-color: rgb(8, 119, 98);
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 200;
    cursor: pointer;
}
.bankdetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 80px;
    gap: 0px;
}
.bankdetails h2,h4{
    font-size: 16px;
    text-align: center;
}
.bankdetails p{
    text-align: center;
    line-height: 35px;
    font-size: 16px;
}

@media screen and (max-width:865px){
    .membership{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 8% 0 8%;
}
.card{
    max-width: 350px;
    min-width: 80vw;
    min-height: 550px;
    background: url('../Assets/mebership.png');
    background-size: cover;
    margin-top: 50px;
    border-radius: 2px;
}
.card h4{
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
}
.card h4 span{
    font-size: 14px;
    font-weight: 700;
    text-decoration: line-through;
}
.card p{
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px rgb(133, 133, 133);
    font-weight: 400;
    text-align: center;
    line-height: 45px;
    margin-top: 30px;
}
.card__footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: url('../Assets/pattern.jpg');
    background-size: cover;
    margin-top: 40px;
    padding: 0 0 15px 0;
    justify-content: center;
    align-items: center;
    gap:0;
}
.card__footer h2{
    font-size: 12px;
    font-weight: 700;
    color: white;
    text-align: center;
    line-height: 40px;
}
.card__button{
    width: 100px;
    height: 45px;
    padding: 10px;
    background-color: rgb(8, 119, 98);
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    font-weight: 200;
    cursor: pointer;
}
.bankdetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 80px;
    gap: 0px;
}
.bankdetails h2,h4{
    font-size: 14px;
    text-align: center;
}
.bankdetails p{
    text-align: center;
    line-height: 35px;
    font-size: 14px;
}
}