.main{
    background: url('../Assets/login-bg.jpg');
    background-size: cover;
    height: 172vh;
}
.sign-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    justify-content: center;
    width: 50vw;
    margin: 40px 24vw 50px 24vw;
    padding: 50px;
    border-radius: 5px;
}
form{
    width: 100%;
}
.sign-row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 18px;
}
.sign-column{
    display: flex;
    flex-direction: column;
    width: 48%;
    gap: 5px;
}
input ,select{
    height: 45px;
    padding-left: 10px;
    font-size: 16px;
    border: none;
    margin: 8px;
    color: #514c4c;
    background-color: #f1f1f1;
    outline: none;
    border-bottom: 1px solid #1a1a1a;
}
input:focus{
    box-shadow: 0px 0px 2px 3px #1d9dff56;
}
label{
    font-size: 14px;
    font-weight: 400;
    padding-left: 5px;
    color: #fd7e14;
}
.sign-textarea{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-bottom: 10px;
}
textarea{
    height: 65px;
    padding: 10px;
    font-size: 14px;
    border: 0.1px solid #6e6e6e8f;
    background-color: #f1f1f1;
    outline: none;
}
.agree{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}
.submit{
    width: 100%;
    height: 48px;
    background : linear-gradient(to right, #ff840a, #c30332);
    color: white;
    border-radius: 15px;
    box-shadow: #1a1a1a 0px 4px 3px 0px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight: 500;
}
.submit:hover{
    background: black;
}
#link{
    color: black;
    text-decoration: none;
}
#link:hover{
    color: rgb(0, 98, 147);
}

@media screen and (max-width:1216px){
    .main{
    background: url('../Assets/login-bg.jpg');
    background-size: cover;
    height: 172vh;
}
.sign-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    justify-content: center;
    width: 60vw;
    margin: 40px 20vw 50px 20vw;
    padding: 50px;
    border-radius: 5px;
}
form{
    width: 100%;
}
.sign-row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 18px;
}
.sign-column{
    display: flex;
    flex-direction: column;
    width: 48%;
    gap: 5px;
}
input ,select{
    height: 45px;
    padding-left: 10px;
    font-size: 15px;
    border: none;
    margin: 8px;
    color: #514c4c;
    background-color: #f1f1f1;
    outline: none;
    border-bottom: 1px solid #1a1a1a;
}
input:focus{
    box-shadow: 0px 0px 2px 3px #1d9dff56;
}
label{
    font-size: 13px;
    font-weight: 400;
    padding-left: 5px;
    color: #fd7e14;
}
.sign-textarea{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-bottom: 10px;
}
textarea{
    height: 65px;
    padding: 10px;
    font-size: 13px;
    border: 0.1px solid #6e6e6e8f;
    background-color: #f1f1f1;
    outline: none;
}
.agree{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}
.submit{
    width: 100%;
    height: 48px;
    background : linear-gradient(to right, #ff840a, #c30332);
    color: white;
    border-radius: 15px;
    box-shadow: #1a1a1a 0px 4px 3px 0px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight: 500;
}
.submit:hover{
    background: black;
}
#link{
    color: black;
    text-decoration: none;
}
#link:hover{
    color: rgb(0, 98, 147);
}
}

@media screen and (max-width:865px){
    .main{
    background: url('../Assets/login-bg.jpg');
    background-size: cover;
    height: 250vh;
}
.sign-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    justify-content: center;
    width: 50vw;
    margin: 40px 20vw 50px 20vw;
    padding: 50px;
    border-radius: 5px;
}
form{
    width: 100%;
}
.sign-row{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 18px;
}
.sign-column{
    display: flex;
    flex-direction: column;
    width: 100% !important;
    gap: 5px;
}
input ,select{
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    border: none;
    margin: 8px;
    color: #514c4c;
    background-color: #f1f1f1;
    outline: none;
    border-bottom: 1px solid #1a1a1a;
}
input:focus{
    box-shadow: 0px 0px 2px 3px #1d9dff56;
}
label{
    font-size: 14px;
    font-weight: 400;
    padding-left: 5px;
    color: #fd7e14;
}
.sign-textarea{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-bottom: 10px;
}
textarea{
    height: 65px;
    padding: 10px;
    font-size: 14px;
    border: 0.1px solid #6e6e6e8f;
    background-color: #f1f1f1;
    outline: none;
}
.agree{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}
.submit{
    width: 100%;
    height: 48px;
    background : linear-gradient(to right, #ff840a, #c30332);
    color: white;
    border-radius: 15px;
    box-shadow: #1a1a1a 0px 4px 3px 0px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight: 500;
}
.submit:hover{
    background: black;
}
#link{
    color: black;
    text-decoration: none;
}
#link:hover{
    color: rgb(0, 98, 147);
}
}

@media screen and (max-width:600px){
    .main{
    background: url('../Assets/login-bg.jpg');
    background-size: cover;
    height: 240vh;
}
.sign-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    justify-content: center;
    width: 55vw;
    margin: 40px 12vw 50px 14vw;
    padding: 30px;
    border-radius: 5px;
}
form{
    width: 100%;
}
.sign-row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 18px;
}
.sign-column{
    display: flex;
    flex-direction: column;
    width: 100% !important;
    gap: 5px;
}
input ,select{
    height: 35px;
    padding-left: 10px;
    font-size: 16px;
    border: none;
    margin: 8px;
    color: #514c4c;
    background-color: #f1f1f1;
    outline: none;
    border-bottom: 1px solid #1a1a1a;
}
input:focus{
    box-shadow: 0px 0px 2px 3px #1d9dff56;
}
label{
    font-size: 12px;
    font-weight: 400;
    padding-left: 5px;
    color: #fd7e14;
}
.sign-textarea{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-bottom: 10px;
}
textarea{
    height: 65px;
    padding: 10px;
    font-size: 14px;
    border: 0.1px solid #6e6e6e8f;
    background-color: #f1f1f1;
    outline: none;
}
.agree{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}
.submit{
    width: 100%;
    height: 48px;
    background : linear-gradient(to right, #ff840a, #c30332);
    color: white;
    border-radius: 15px;
    box-shadow: #1a1a1a 0px 4px 3px 0px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight: 500;
}
.submit:hover{
    background: black;
}
#link{
    color: black;
    text-decoration: none;
}
#link:hover{
    color: rgb(0, 98, 147);
}
}