
@media screen and (max-width:1216px){
.header{
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    max-width: 1200px;
    padding-right: 10%;
    padding-left: 14%;
    flex-wrap: wrap;
}
.logo{
    
    justify-self: flex-start;
}
.logo img{
    width: 200px;
}
.headercontact{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    gap: 10px;
}
.headercontact .env{
    display: flex;
    color:#c30332;
    font-size: 20px;
    flex-direction: column;
    justify-content: center;
}
.headercontact h3{
    color: #c30332;
    font-size: 15px;
}
.headercontact h2{
    color: #777777;
    font-size: 14px;
    font-weight: 400;
}
.headerbuttons{
    display: flex ;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.headerbuttons button{
    background-color: #fc821e;
    color: white;
    border: none;
    height: 35px ;
    width: 100px   ;
    padding: 8px 20px 10px 20px;
    border-radius: 5px;
    font-size: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}


.navbar ,.navitems{
    display: flex;
}

.Tab-nav{
    display:flex;
    position: sticky;
    top:0;
    background-color: #c30332;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
}
.second-navbar{
    display: none;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    position: sticky;
    top: 0;
    background-color:rgb(255, 10, 89);
    justify-content: center ;
    align-items: center;
    color: white;
    height: 600px;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 1%;
    
}
.dropdown{
    display: none;
    position:relative;
    background-color: white;
    color:#222222;
    border-radius: 3px;
    width: 220px;
    top:45px;
}
.dropdown div{
    display: flex ;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 10px;
    gap: 10px;
    padding-top: 12px;
}
.dropdown div:hover{
    background-color: #4b9cffb4;
}
.dropdown h4{
    font-weight: 200;
    padding: 0;
}
.dropdown hr{
    color: rgba(128, 128, 128, 0.527);
    
}
.second-navbar .second-navitems{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: pointer;
    font-size: 15px;
    transition: 400ms;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
    gap: 2px;
    
}
.second-navbar .second-navitems:hover{
    color: black;
}
.second-navbar .second-navitems i{
    font-size: 15px;
}
.second-navbar .second-navitems:active{
    color: black;
}
.second-navbar .second-navitems h4{
    margin: 0;
    padding: 0; 
    font-weight: 400;
}


.carousel {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-size: cover;
  background-position: center;
  z-index: -2;
  animation: slideshow 15s infinite;
}


@keyframes slideshow {
  0% { background-image: url('./Assets/carousel1.jpg'); }
  25% { background-image: url('./Assets/carousel2.jpg'); }
  50% { background-image: url('./Assets/carousel1.jpg'); }
  75% { background-image: url('./Assets/carousel2.jpg'); }
  100% { background-image: url('./Assets/carousel1.jpg'); }
}



.carousel_search{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    padding: 20px 0px 20px 0px;
    min-height:135px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10px;
    margin-top:350px;
    margin-bottom: 180px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.616);
    flex-wrap: wrap;
    gap:20px;
}
.carousel_search_items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 15px;
    font-weight: 400;
}
.carousel_search_items button{
    margin-top: 35px;
    height: 55px;
    width: 160px;
    background: linear-gradient(to right, #ffc118, #c30332);
    border: none;
    border-radius: 10px;
    color: white;
}
.carousel_search_items button:hover{
    cursor: pointer;
    background: black;
    box-shadow: #4f4f4f;
}
.carousel_search_items h3{
    font-size: 15px;
    font-weight: 100;
}
.carousel_search_items select{
    height: 40px;
    width: 180px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    font-size: 15px;
}


.welcome{
    display: flex;
    flex-direction:column;
    padding: 40px 10% 0 14%;
    background-color: white;
    gap: 50px;
}
.welcome .text{
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    width: 100%;
}
.welcome .text h1{
    text-align: center;
    color: #c30332;
    letter-spacing: 0.1px;
    font-size: 34px;
    font-weight: 700;
}
.welcome .text p{
        font-family: Verdana,Geneva,sans-serif;
        font-size: 14px;
        line-height: 25px;
}
.welcome .img{
    align-self: flex-end;
}
.welcome .img img{
    width: 300px;
}
.profiles{
    position: relative;
    width: 100%;
    padding: 50px;
    background-color: white;
    justify-content: center;
    align-items: center;
}
.p-text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap:0;
}
.profiles h3{
    font-weight: 100;
    font-size: 36px;
    padding: 0;
    margin: 0;
    color: #c30332;
    font-style: normal;
    font-family: 'Roboto Condensed',sans-serif;
}
.profiles .underline{
    width: 150px;
    align-self: center;
    justify-self: center;
}
.profiles b{
    font-weight: 700;
}
.profiles .row{
    width: 60%;
    display: flex;
    flex-direction: row;
    scrollbar-width: none; 
    font-family: sans-serif;
    font-weight:lighter;
    font-size: 12px;   
    margin: 40px 20% 0 20%;
    overflow-x: hidden;
    transform: translate3d(0,0,0);
    gap:50px;
}
.features{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 45px;
    min-height: 520px;
    color: white;
    background: url(Assets/features.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.f-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.features .f-text p{
    padding-top: 10px;
    color: white;
    font-size: 42px;
    font-family: sans-serif;
    font-weight:lighter;
    margin: 0%;
}
.f-text b{
    font-weight: 700;
}
.f-text .underline{
    width: 180px;
    align-self: center;
    padding-bottom: 20px;
    justify-self: center;
}
.features .row{
    display:flex;
    flex-direction: row;
    gap: 4%;
}
.features .row1{
    display: flex;
    flex-direction: column;
    margin: 2% 14% 0 14%;
    gap:30px;
    
}
.features .column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 85px;
}
.features .column i{
    color: #d8bf84;
    border: white solid 1px;
    border-radius: 50%;
    padding: 20px;
}
.features .column i:hover{
    color: #ffffff;
    background-color: #007bff;
    border: white solid 1px;
    border-radius: 50%;
    padding: 20px;
}

.features .column1{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: smaller;
    height: auto;
    gap:20px;

}
#zero{
    padding: 0;
    margin: 0;
}
.success{
    width: 100%;
    height: 110vh;
    background-color: white;
    padding: 2% 0 0 0;
}
.catalogue{
    display: flex;
    flex-direction: column;
    width:fit-content;
    padding: 15px 12% 0 12%;
    gap: 0;
}
.catalogue img{
    width: 320px;
    margin: 0;
    padding: 0;
}
.date{
    display: flex;
    align-items: center;
    padding-left: 15px;
    width: 305px;
    background-color: #13e094;
    color: white;
    font-size: 16px;
    font-weight: 600;
    height: 60px;
}
.name{
    font-size: 18px;
    font-weight: 500;
    color: #c30332;
}
#read{margin-top: 0;
    color: blue;
}
#read:hover{
    cursor: pointer;
}


.footer{
    display: flex;
    flex-direction: column;
    color: white;
}
.footer-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 14% 0px 14%;
    color: black;
    font-weight: 100;
    font-size: 14px;
    height: fit-content;
    background: linear-gradient(to top, #ffffff, #e6e6e6);;
    gap:5px;
}
.footer-head img{
    min-width: 30px;
    min-height:30px;
}
.foot-bg{
        background-image: url('./Assets/footer-bg.png');
        background-size: cover;
}
.footer-body{
    display: flex;
    flex-direction: column;
    height:140vh;
    padding: 0px 14% 0px 14%;
    gap: 10px;
    
}
.col-img{
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    padding: 35px 0 0px 0;
    font-size: 30px;
    
}
.col-img{
    width: 450px;
    min-height: 560px;
    
}
.col-img p{
        letter-spacing: 2px;
        font-weight:lighter;

}
.col-contact{
    padding: 0px 0 35px 0;
}

#p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 200;
}
#p span{
    font-size: 32px;
    font-weight: 700;
}
#p1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    border-left: #d8bf84 solid 2px;
    padding-left: 25px;
    line-height: 25px;
}
h6{
    font-weight: 100;
    font-size: 30px;
    padding: 0;
    margin: 0;
}
.email{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    height: 50px;
    overflow-y: hidden;
}
.email input{
    height: 20px;
    width: 350px;
    font-size: 15px;
    padding: 15px;
    margin: 0;
    outline: none;
    
}

.email button{
    height: 56px;
    width: 160px;
    color: white;
    background-color: #dbc956;
    font-size: 15px;
    padding: 0px 0 5px 0;
    margin: 0;
    border-radius: 0;
    border: none;
}
.col-contact .row{
    display: flex;
    flex-direction: row;
    margin: 50px 0 0 0;
    gap:20px
}
.col-contact .row .col{
    display: flex;
    flex-direction: column;
    font-size: 16px;    
}
.col-contact .row .col{
    text-wrap: wrap;
}
.col-contact .row .col i{
    color: #d8bf84;
    padding-right: 5px;
}

.footer-tail{
    display: flex;
    flex-direction: column;
    height: 150px;
    background-color: #00000069;
    justify-content:center;
    align-items: center;
    box-shadow: 2px 3px 5px 2px rgba(219, 219, 219, 0.5);
    padding: 0px 14% 0px 14%;
}
.footer-tail p{
    text-align: center;
    width: 100%;
    letter-spacing: 1.5px;
}
.footer-tail .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    padding: 10px;
}
.footer-tail .row i{
    box-shadow: 2px 1px 5px 2px rgba(242, 242, 242, 0.5);
    border-radius: 50%;
    padding: 10px;
}
#i1:hover{
    cursor: pointer;
    background-color: #0d4f95;
}
#i3:hover{
    cursor: pointer;
    background-color: #007bff;
}
#i2:hover,#i4:hover{
    cursor: pointer;
    background-color: orange;
}




}



@media screen and (max-width:865px){
.header{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    max-width: 1200px;
    padding-right: 10%;
    padding-left: 14%;
    flex-wrap: wrap;
}
.logo{
    
    justify-self: flex-start;
}
.logo img{
    width: 200px;
}
.headercontact{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    gap: 6px;
}
.headercontact .info{
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 15px;
}
.headercontact .env{
    display: flex;
    color:#c30332;
    font-size: 18px;
    flex-direction: column;
    justify-content: center;
}
.headercontact h3{
    color: #c30332;
    font-size: 14px;
    margin: 0;
}
.headercontact h2{
    color: #777777;
    font-size: 12px;
    margin: 0;
    font-weight: 400;
}
.headerbuttons{
    display: flex ;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.headerbuttons button{
    background-color: #fc821e;
    color: white;
    border: none;
    height: 35px ;
    width: 100px   ;
    padding: 8px 20px 0px 20px;
    border-radius: 5px;
    font-size: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

.Tab-nav{
    display:flex;
    position: sticky;
    top:0;
    background-color: #c30332;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
}
#bar{
    padding: 10px;
    border: white solid 1px;
}
#bar:hover{
        cursor: pointer;
}

.navbar ,.navitems{
    display: none;
}

.second-navbar{
    display: display;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
    top: 50px;
    background-color:#c30332;
    justify-content: center ;
    align-items: center;
    color: white;
    min-height: 520px;
    flex-wrap: wrap;
    flex-grow: 0.7;
    gap: 1%;
}
.dropdown{
    display: none;
    position:absolute;
    background-color: white;
    color:#222222;
    border-radius: 3px;
    width: 440px;
    top:45px;
}
.dropdown div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 10px;
    gap: 10px;
    padding-top: 12px;
}
.dropdown div:hover{
    background-color: #4b9cffb4;
}
.dropdown h4{
    font-weight: 200;
    padding: 0;
}
.dropdown hr{
    color: rgba(128, 128, 128, 0.527);
    
}
.second-navbar .second-navitems{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: pointer;
    font-size: 15px;
    transition: 400ms;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
    gap: 5px;
    
}
.second-navbar .second-navitems:hover{
    color: black;
}
.second-navbar .second-navitems i{
    font-size: 15px;
}
.second-navbar .second-navitems:active{
    color: black;
}
.second-navbar .second-navitems h4{
    margin: 0;
    padding: 0; 
    font-weight: 400;
}


.carousel {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-size: cover;
  background-position: center;
  z-index: -2;
  animation: slideshow 15s infinite;
}


@keyframes slideshow {
  0% { background-image: url('./Assets/carousel1.jpg'); }
  25% { background-image: url('./Assets/carousel2.jpg'); }
  50% { background-image: url('./Assets/carousel1.jpg'); }
  75% { background-image: url('./Assets/carousel2.jpg'); }
  100% { background-image: url('./Assets/carousel1.jpg'); }
}



.carousel_search{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    padding: 20px 0px 20px 0px;
    min-height:135px;
    width: 80%;
    margin-left: 10% !important;
    margin-right: 10%;
    margin-top:10vh;
    margin-bottom: 180px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.616);
    flex-wrap: wrap;
    gap:10px;
}
.carousel_search_items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 14px;
    font-weight: 400;
}
.carousel_search_items button{
    margin-top: 35px;
    height: 55px;
    width: 160px;
    background: linear-gradient(to right, #ffc118, #c30332);
    border: none;
    border-radius: 10px;
    color: white;
}
.carousel_search_items button:hover{
    cursor: pointer;
    background: black;
    box-shadow: #4f4f4f;
}
.carousel_search_items h3{
    font-size: 12px;
    font-weight: 100;
}
.carousel_search_items select{
    height: 35px;
    width: 120px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    font-size: 15px;
}

.welcome{
    display: flex;
    flex-direction:column;
    padding: 40px 10% 0 14%;
    background-color: white;
    gap: 50px;
}
.welcome .text{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    text-wrap: wrap;
    width: 100%;
}
.welcome .text h1{
    text-align: right;
    color: #c30332;
    letter-spacing: 0.1px;
    font-size: 22px;
    font-weight: 700;
}
.welcome .text p{
        font-family: Verdana,Geneva,sans-serif;
        font-size: 14px;
        line-height: 25px;
}
.welcome .img{
    align-self: flex-end;
    display:flex;
    flex-wrap: wrap;
    
}
.welcome .img img{
    width: 240px;
    padding-left: 0 20px 0 20px ;
}
.profiles{
    position: relative;
    width: 100%;
    padding: 50px 0 50px 0;
    background-color: white;
    justify-content: center;
    align-items: center;
}
.p-text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    gap:0;
}
.profiles h3{
    font-weight: 100;
    font-size: 26px;
    padding: 0;
    margin: 0;
    color: #c30332;
    font-style: normal;
    font-family: 'Roboto Condensed',sans-serif;
}
.profiles .underline{
    width: 120px;
    align-self: center;
    justify-self: center;
}
.profiles b{
    font-weight: 700;
}

.profiles .row{
    width: 60%;
    display: flex;
    flex-direction: row;
    scrollbar-width: none; 
    font-family: sans-serif;
    font-weight:lighter;
    font-size: 12px;   
    margin: 40px 20% 0 20%;
    overflow-x: hidden;
    transform: translate3d(0,0,0);
    gap:60px;
}
.profiles .column{
    display: flex;
    flex-direction: column;
    min-width: 30vw;
    align-items: center;
    justify-content: center;
    gap: 0.1vh;
    animation: scroll-left 15s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-145%);
  }
}
.profiles .column img{
    width: 18vw;
    border-radius: 50%;
}
.profiles .column span{
    color: #c30332;
}
.features{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 520px;
    color: white;
    background: url(Assets/features.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.f-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.features .f-text p{
    padding-top: 10px;
    color: white;
    font-size: 26px;
    font-family: sans-serif;
    font-weight:lighter;
    margin: 0%;
}
.f-text b{
    font-weight: 700;
}
.f-text .underline{
    width: 180px;
    align-self: center;
    padding-bottom: 20px;
    justify-self: center;
}
.features .row{
    display:flex;
    flex-direction: row;
    gap: 4%;
    padding-bottom: 45px;
}
.features .row1{
    display: flex;
    flex-direction: column;
    margin: 2% 14% 0 14%;
    gap:45px;
    
}
.features .column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    width: 90px;
}
.features .column i{
    color: #d8bf84;
    border: white solid 1px;
    border-radius: 50%;
    padding: 20px;
}
.features .column i:hover{
    color: #ffffff;
    background-color: #007bff;
    border: white solid 1px;
    border-radius: 50%;
    padding: 20px;
}

.features .column1{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-wrap: wrap;
    gap:20px;

}
#zero h1{
    padding: 0;
    margin: 0;
    font-size: 51px;
}
.success{
    width: 100%;
    height: 110vh;
    background-color: white;
    padding: 2% 0 0 0;
}
.catalogue{
    display: flex;
    flex-direction: column;
    width: 60vw;
    padding: 15px 12% 0 12%;
    gap: 0;
}
.catalogue img{
    width: 74vw;
    margin: 0;
    padding: 0;
}
.date{
    display: flex;
    align-items: center;
    padding-left: 15px;
    width: 72.2vw;
    background-color: #13e094;
    color: white;
    font-size: 15px;
    font-weight: 600;
    height: 60px;
}
.name{
    font-size: 17px;
    font-weight: 500;
    color: #c30332;
}
#read{
    color: blue;
}
#read:hover{
    cursor: pointer;
}

.footer{
    display: flex;
    flex-direction: column;
    color: white;
}
.footer-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 14% 0px 14%;
    color: black;
    font-weight: 100;
    font-size: 13px;
    height: fit-content;
    padding-top: 10px;
    background: linear-gradient(to top, #ffffff, #e6e6e6);;
    gap:5px;
}
.footer-head img{
    align-self: flex-start;
    min-width: 30px;
    min-height:30px;
}
.foot-bg{
        background-image: url('./Assets/footer-bg.png');
        background-size: cover;
}
.footer-body{
    display: flex;
    flex-direction: column;
    height:160vh;
    padding: 0px 12% 0px 12%;
    gap: 10px;
}
.col-img{
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    padding: 35px 0 0px 0;
    font-size: 24px;
    min-height: fit-content;
}

.foot-img-img img{
    max-width: 80vw;
    height: auto;
}
.col-img p{
        letter-spacing: 1.5px;
        font-weight:lighter;
        text-wrap: wrap;
}
.col-contact{
    display: flex;
    flex-direction: column;
    min-height: 600px;
    padding: 0px 0 35px 0;
}

#p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 200;
}
#p span{
    font-size: 26px;
    font-weight: 700;
}
#p1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:lighter;
    border-left: #d8bf84 solid 2px;
    padding-left: 25px;
    line-height: 25px;
}
h6{
    font-weight: 100;
    font-size: 25px;
    padding: 0;
    margin: 0;
}
.email{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    max-height: 42px;
    overflow-y: hidden;
}
.email input{
    height: 20px;
    max-width: 280px;
    font-size: 10px;
    padding: 10px;
    margin: 0;
    outline: none;
    
}

.email button{
    height: 44px;
    max-width: 160px;
    color: white;
    background-color: #dbc956;
    font-size: 15px;
    padding: 0px 0 5px 0;
    margin: 0;
    border-radius: 0;
    border: none;
}
.col-contact .row{
    display: flex;
    flex-direction: column;
    margin: 50px 0 0 0;
    gap:20px
}
.col-contact .row .col{
    display: flex;
    flex-direction: column;
    font-size: 16px;    
}
.col-contact .row .col{
    text-wrap: wrap;
}
.col-contact .row .col i{
    color: #d8bf84;
    padding-right: 5px;
}

.footer-tail{
    display: flex;
    flex-direction: column;
    height: 185px;
    background-color: #00000069;
    justify-content:center;
    align-items: center;
    box-shadow: 2px 3px 5px 2px rgba(219, 219, 219, 0.5);
    padding: 0px 14% 0px 14%;
}
.footer-tail p{
    text-align: center;
    width: 100%;
    font-size: smaller;
    letter-spacing: 1.5px;
    line-height: 20px;
}
.footer-tail .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    width: 200px;
    padding: 10px;
}
.footer-tail .row i{
    box-shadow: 2px 1px 5px 2px rgba(242, 242, 242, 0.5);
    border-radius: 50%;
    padding: 10px;
}
#i1:hover{
    cursor: pointer;
    background-color: #0d4f95;
}
#i3:hover{
    cursor: pointer;
    background-color: #007bff;
}
#i2:hover,#i4:hover{
    cursor: pointer;
    background-color: orange;
}


}

@media screen and (max-width:364px) {
    .footer-tail p{
    text-align: center;
    width: 100%;
    font-size: 12px;
    letter-spacing: 1.5px;
    line-height: 20px;
}
    .col-img p{
        letter-spacing: 1.5px;
        font-weight:lighter;
        text-wrap: wrap;
        font-size: 18px;
}
}