
.carousel {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-size: cover;
  background-position: center;
  z-index: -1;
  animation: slideshow 15s infinite;
}


@keyframes slideshow {
  0% { background-image: url('./Assets/carousel1.jpg'); }
  25% { background-image: url('./Assets/carousel2.jpg'); }
  50% { background-image: url('./Assets/carousel1.jpg'); }
  75% { background-image: url('./Assets/carousel2.jpg'); }
  100% { background-image: url('./Assets/carousel1.jpg'); }
}



.carousel_search{
    display: flex;
    flex-direction: row;
    position: relative;
    align-items:center;
    justify-content: center;
    padding: 20px 4% 20px 4%;
    min-height:135px;
    width: 80%;
    margin-left: 10% ;
    margin-right: 10%;
    margin-top:350px;
    margin-bottom: 180px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.616);
    flex-wrap: wrap;
    gap:20px;
}
.carousel_search_items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 15px;
    font-weight: 400;
}
.carousel_search_items button{
    margin-top: 35px;
    height: 55px;
    width: 160px;
    background: linear-gradient(to right, #ffc118, #c30332);
    border: none;
    border-radius: 10px;
    color: white;
}
.carousel_search_items button:hover{
    cursor: pointer;
    background: black;
    box-shadow: #4f4f4f;
}
.carousel_search_items h3{
    font-size: 15px;
    font-weight: 100;
}
.carousel_search_items select{
    height: 40px;
    width: 180px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    font-size: 15px;
}


.welcome{
    display: flex;
    flex-direction: row;
    padding: 40px 10% 25px 14%;
    background-color: white;
    gap: 50px;
}
.welcome .text{
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    width: 62%;
}
.welcome .text h1{
    text-align: right;
    color: #c30332;
    letter-spacing: 0.1px;
    font-size: 34px;
    font-weight: 700;
}
.welcome .text p{
        font-family: Verdana,Geneva,sans-serif;
        font-size: 14px;
        line-height: 25px;
}
.welcome img{
    width: 320px;
}
.profiles{
    position: relative;
    width: 100%;
    min-height: 500px;
    padding-top: 50px;
    background-color: white;
    justify-content: center;
    align-items: center;
}
.p-text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap:0;
}
.p-text h3{
    font-weight: 100;
    font-size: 46px;
    padding: 0;
    margin: 0;
    color: #c30332;
    font-style: normal;
    font-family: 'Roboto Condensed',sans-serif;
}
.p-text .underline{
    width: 180px;
    align-self: center;
    padding-bottom: 20px;
    justify-self: center;
}
.profiles b{
    font-weight: 700;
}

.profiles .row{
    width: 60%;
    display: flex;
    flex-direction: row;
    scrollbar-width: none; 
    font-family: sans-serif;
    font-weight:lighter;
    font-size: 15px;   
    margin: 40px 20% 0 20%;
    overflow-x: hidden;
    transform: translate3d(0,0,0);
    gap:100px;
}
.profiles .column{
    display: flex;
    flex-direction: column;
    min-width: 16vw;
    align-items: center;
    justify-content: center;
    gap: 0.1vh;
    animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-145%);
  }
}
.profiles .column img{
    width: 14vw;
    border-radius: 50%;
}
.profiles .column span{
    color: #c30332;
}
.features{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 45px;
    min-height: 520px;
    color: white;
    background: url(Assets/features.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.f-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.features .f-text p{
    padding-top: 10px;
    color: white;
    font-size: 42px;
    font-family: sans-serif;
    font-weight:lighter;
    margin: 0%;
}
.f-text b{
    font-weight: 700;
}
.f-text .underline{
    width: 180px;
    align-self: center;
    padding-bottom: 20px;
    justify-self: center;
}
.features .row{
    display:flex;
    flex-direction: row;
    gap: 4%;
}
.features .row1{
    display: flex;
    flex-direction: row;
    margin: 2% 14% 0 14%;
    gap:20px;
    
}
.features .column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 85px;
}
.features .column i{
    color: #d8bf84;
    border: white solid 1px;
    border-radius: 50%;
    padding: 20px;
}
.features .row:hover{
    .column i{ 
        color: #ffffff;
        background-color: #007bff;
        border: white solid 1px;
        border-radius: 50%;
        padding: 20px;
   }
}

.features .column1{
    display: flex;
    flex-direction: column;
    width: 18vw;
    height: auto;
    text-wrap: wrap;
    gap:20px;

}
#zero{
    padding: 0;
    margin: 0;
}

